body {
  background-color: #eaf6f6;
}
.photo{
  width:30px;
}
h1 {
  color: #66bfbf;
}
h3 {
  color: #66bfbf;
  text-align: center;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
